.container {
  padding: 4em 8.5%;
}

header {
  display: flex;
  background-color: #150e28;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 3;
}

ul {
  display: flex;
  gap: 5rem;
  list-style: none;
}

.menu-bar {
  display: flex;
  align-items: center;
  gap: 10rem;
}

header span,
article h2 {
  color: #d434fe;
  font-family: "Clash Display";
  font-style: normal;
  line-height: normal;
}

header span {
  font-weight: 700;
  font-size: 36px;
}

header h1 {
  color: #fff;
  font-family: "Clash Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

li {
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul .contact {
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 3em 6%;
  }

  header {
    gap: 3rem;
  }

  ul {
    gap: 3rem;
  }

  .menu-bar {
    gap: 5rem;
  }

  header span,
  article h2 {
    font-size: 28px;
  }
}

/* Media query for screens with a max-width of 768px (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  .container {
    padding: 2em 4%;
  }

  header {
    flex-direction: column;
    gap: 1rem;
  }

  ul {
    flex-direction: column;
    gap: 2rem;
  }

  header span,
  article h2,
  header h1 {
    font-size: 24px;
  }

  li {
    font-size: 14px;
  }

  ul .contact {
    font-size: 16px;
  }
}
