header {
  background: #150e28;
  color: #fff;
  padding: 30px 0;
  min-width: 396px;
  height: 100vh;
  /* margin-bottom: 10em; */
}

.nav-bar ul {
  display: none;
  cursor: pointer;
}

nav {
  display: none;
  font-family: "Montserrat";
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 492px;
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.04);
  background: #150e28;
  backdrop-filter: blur(30px);
  padding-left: 4em;
}

.nav-close {
  position: absolute;
  right: 10%;
  top: 10%;
}

.nav-close-image {
  position: absolute;
  left: 25%;
  top: 20%;
}

.register-btn {
  margin-top: 24px;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
  list-style: none;
  margin-top: 10em;
}

nav li {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
  transition: color 0.3s;
}

nav li:hover {
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-bar {
  display: flex;
  position: fixed;
  background: #150e28;
  z-index: 4;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em 20px;
  border-bottom: 1px solid grey;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
}

.caption {
  color: #fff;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: 20em;
  margin: 0 auto;
}

.caption div {
  font-size: 1.5rem;
}

.caption img {
  position: absolute;
  right: 11%;
}

.heading h1 {
  color: #fff;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  /* margin-top: 2em; */
}

.heading-stars {
  margin-bottom: 0.5em;
  position: relative;
}

.heading-stars-image1 {
  position: absolute;
  top: 80%;
  left: 34%;
}

.heading-stars-image2 {
  margin-left: 7em;
}

.heading-title {
  position: relative;
  width: 10em;
  margin: 0 auto;
}

.heading-title > img {
  position: absolute;
  right: 23%;
  bottom: 70%;
}

.cta {
  color: #d434fe;
}

.heading-paragraph {
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%; /* 21.58px */
  padding: 0.9em 7em 0;
}

.star3 {
  position: absolute;
  top: 46%;
  right: 25%;
}

.count-down {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  margin-top: 1em;
}

.count-down div {
  font-family: Unica One;
  font-size: 48px;
  line-height: 133%; /* 63.84px */
  padding-right: 10px;
}

.count-down span {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 133%; /* 18.62px */
}

.hero-image {
  margin-top: 1em;
}

.hero-image1 {
  position: absolute;
}

@media screen and (min-width: 880px) {
  header {
    width: 10px;
    margin-bottom: 21em;
    height: 100vh;
  }
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 90px;
  }
  .caption {
    position: absolute;
    top: 0%;
    right: 5%;
    width: 30em;
  }
  .caption div {
    font-size: 2.5rem;
  }
  .caption img {
    width: 28%;
  }

  .heading h1 {
    font-size: 8rem;
    text-align: left;
  }

  .heading-paragraph {
    text-align: left;
    width: 30em;
    padding: 0;
    font-size: 2rem;
    margin-bottom: 2em;
  }

  .heading-subtitle {
    text-align: left;
  }

  .heading-title img {
    position: absolute;
    right: 35%;
    width: 53px;
  }

  .heading-title-image {
    width: 58px;
  }

  .count-down {
    display: flex;
    justify-content: flex-start;
    font-size: 6rem;
  }

  .hero-left {
    text-align: left;
  }

  .hero-image {
    margin-top: 8em;
  }

  .hero-image1 {
    width: 40%;
    position: absolute;
    top: 10%;
    left: 47%;
    z-index: 1;
  }

  .hero-image img + img {
    position: absolute;
    right: 0;
    width: auto;
    height: 480px;
  }
}

main {
  background: #150e28;
  color: #fff;
  margin: 0;
}

.introduction {
  padding-bottom: 5em;
}

.introduction-image {
  position: relative;
}

.introduction-image1 {
  position: absolute;
  top: 30%;
  left: 15%;
}

.introduction-image img + img {
  min-width: 50%;
}

.introduction-heading {
  position: relative;
}

.introduction-heading img {
  position: absolute;
  left: 80%;
  bottom: 25%;
}

.text-overlay {
  position: absolute;
  left: 43%;
  bottom: 40%;
  width: 5em;
}

.text-overlay span {
  font-size: 14px;
  font-weight: 700;
  line-height: 122.5%; /* 17.15px */
}

.introduction-arrow {
  width: 30px;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.5%; /* 17.15px */
}

.main-content {
  display: flex;
  flex-direction: column;
  padding-top: 2.9em;
  text-align: center;
  border-bottom: 3px solid grey;
}

.main-subheading {
  margin: 1em 0 0.5em;
}

.main-subheading div {
  padding-top: 0.3em;
}

.main-text p {
  font-family: Montserrat;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 211.538% */
  width: 321px;
  margin: 0 auto;
}

.rules {
  padding-bottom: 4em;
}

.rules-image {
  position: relative;
}

.rules-image1 {
  position: absolute;
  top: 48%;
  left: 10%;
}

.rules-heading {
  position: relative;
}

.rules-image2 {
  position: absolute;
  right: 10%;
}

.rules-text {
  position: relative;
}

.rules-image3 {
  position: absolute;
  left: 28%;
  bottom: -10%;
}

.Jugding {
  margin-top: 3em;
  padding-bottom: 5em;
}

.Judging-paragraph {
  /* width: 316px; */
  font-family: Montserrat;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 173.5%; /* 22.555px */
  margin-bottom: 1em;
}

.Judging-paragraph span {
  color: #ff26b9;
  font-size: 1.5rem;
  font-family: Montserrat;
  font-weight: 700;
}

.Jugding-text {
  margin: 0 5em;
}

.Jugding-image {
  position: relative;
}

.Jugding-image1 {
  position: absolute;
  left: 40%;
  top: -15%;
}

.Jugding-image2 {
  position: relative;
  right: 90%;
  top: 50%;
}

.btn-block {
  position: relative;
}

.Jugding-image3 {
  position: absolute;
  right: 13%;
  top: 20%;
}

.btn2 {
  margin: 1em auto;
  padding: 8px 14px 10px;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  border: none;
  border-radius: 4px;
  width: 96.35px;
}

.FAQS {
  padding-bottom: 5em;
}

.FAQS-text > img {
  position: absolute;
  left: 20%;
}

.FAQS-paragraph {
  margin: 0 3em;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 229.167% */
}

.quetions {
  margin: 5em 5em;
}

.quetions-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* align-items: center; */
  border-bottom: 1px solid #d434fe;
  padding-bottom: 0.5em;
  margin-top: 1em;
  text-align: left;
  font-size: 1.5rem;
}

.quetions-item p {
  margin-right: 1em;
}

.quetions-item span {
  color: #d434fe;
}

.FAQS-image {
  position: relative;
  margin-top: 3em;
}

.FAQS-image1,
.FAQS-image2,
.FAQS-image3,
.FAQS-image4 {
  position: absolute;
}

.FAQS-image1 {
  left: 47%;
  top: -5%;
}

.FAQS-image2 {
  top: 50%;
  left: 15%;
}

.FAQS-image3 {
  top: 30%;
  left: 25%;
}

.FAQS-image4 {
  bottom: 0%;
  right: 20%;
}

.timeline {
  margin: 0 5em 5em;
  background: #150e28;
  border-bottom: none;
  position: relative;
}

.timeline-image1 {
  position: absolute;
  top: 17%;
  left: 15%;
}

.timeline-text > p {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 172.4%; /* 24.136px */
  margin-bottom: 3em;
}

.timeline-text-block {
  display: flex;
  gap: 1.2em;
  text-align: left;
  margin-top: 3em;
}

.timeline-numbering {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-line {
  width: 2px;
  height: 77px;
  background: #d434fe;
  margin-bottom: 5px;
}

.announced-line {
  height: 90px;
}

.number {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26.5px;
  background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
}

.timeline-left {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.timeline-left span {
  color: #d434fe;
  font-size: 1.2rem;
}

.timeline-paragraph {
  margin: 0.3em 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170.9%; /* 20.508px */
}

.timeline-left-image2 {
  position: absolute;
  left: 80%;
  bottom: 0;
}

.timeline-left-image3 {
  position: absolute;
  left: -20%;
  bottom: -30%;
}

.prizes {
  padding-bottom: 8em;
  border-bottom: none;
  margin-top: 10em;
}

.prizes-text {
  position: relative;
}

.prizes-text-image1 {
  position: absolute;
  top: -30%;
  left: 20%;
}

.prizes-text-image2 {
  position: absolute;
  top: 25%;
  left: 65%;
}

.prizes-left {
  display: flex;
  flex-direction: column;
}

.prizes-image {
  margin: 5em 0 5em;
  position: relative;
}

.prizes-image img {
  max-width: 100%;
}

.prizes-image1 {
  position: absolute;
  bottom: 0%;
  left: 15%;
}

.prizes-image2 {
  position: absolute;
  bottom: -20%;
  right: 15%;
}

.prizes-image3 {
  position: absolute;
  bottom: -110%;
  right: 35%;
}

.prizes-lineup {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 8em;
}

.prizes-winners {
  position: relative;
  height: 140px;
  width: 90px;
  border-radius: 8px;
  border: 1px solid #903aff;
  background: rgba(144, 58, 255, 0.12);
}

.prizes-winners .winner {
  position: absolute;
  top: -60%;
  right: -22%;
}

.runner-ups {
  margin-top: -1em;
  border: 1px solid #d434fe;
  background: rgba(212, 52, 254, 0.12);
}

.runner-ups img {
  position: absolute;
  left: 10%;
  right: 0;
  top: -25%;
}

.prizes-winners-text {
  margin-top: 4em;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 216.4%; /* 25.968px */
}

.prize-amount {
  color: #d434fe;
}

.prize-winner-amount {
  color: #903aff;
  font-size: 14px;
}

.partners {
  padding-bottom: 10em;
}

.partners-heading {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.5px; /* 85.938% */
}

.partners-image {
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(255, 255, 255, 0.01);
  padding: 4em;
  margin: 5em 3em 0;
  position: relative;
}

.partners-image-block img {
  min-width: 100%;
}

.partners-image-item {
  position: absolute;
}

.partners-image1 {
  top: 0;
  left: 7%;
}

.partners-image2 {
  top: 37%;
  left: 55%;
}

.partners-image3 {
  bottom: 2%;
  right: 13%;
}

.privacy {
  margin: 2em 5em 0;
  padding-bottom: 10em;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.privacy-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 216.4%; /* 25.968px */
  position: relative;
  text-align: center;
}

.privacy-paragraph-image1 {
  position: absolute;
  right: 18%;
  top: -1%;
}

.privacy-text p {
  font-size: 1.2rem;
}

.privacy-summary {
  margin-top: 3em;
  padding: 3em 0;
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(217, 217, 217, 0.03);
}

.privacy-summary > p {
  margin: 0 15px;
}

.privacy-paragraph-image2 {
  position: absolute;
  top: 19%;
  right: 10%;
}

.license-block {
  text-align: left;
  margin-top: 2em;
  padding: 0 1em;
}
.license {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 2em;
  margin-top: 2em;
  position: relative;
}

.license img {
  margin-top: 0.5em;
}

.license-image {
  position: absolute;
  left: -15%;
  bottom: 80%;
}

.privacy-image {
  margin-top: 5em;
  position: relative;
}

.privacy-image1 {
  position: absolute;
}

.privacy-image2 {
  margin-top: 10em;
  margin-left: -2em;
}

.privacy-image3 {
  position: absolute;
  top: 15%;
  left: -5%;
}

.privacy-image4 {
  position: absolute;
  top: 20%;
  left: 70%;
}

.privacy-image5 {
  position: absolute;
  top: 85%;
}

.privacy-image6 {
  position: absolute;
  bottom: 15%;
  left: 13%;
}

/* Footer */

footer {
  padding: 3em 0;
  background: #100b20;
  color: #fff;
  font-family: Montserrat;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  line-height: 172.4%; /* 20.688px */
}
.footer-block {
  padding-left: 5em;
}

.footer-header {
  position: relative;
}

.footer-image {
  position: absolute;
  left: -10%;
  bottom: 50%;
}

.footer-paragraph {
  padding-right: 5em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.terms {
  margin-bottom: 2em;
}

.links {
  margin-bottom: 3em;
  position: relative;
}

.links-image {
  position: absolute;
  left: 45%;
  bottom: 45%;
}

.footer-cta {
  color: #d434fe;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 172.4%; /* 24.136px */
  margin-bottom: 1em;
}

.footer-links {
  list-style: none;
  margin-top: 1em;
  font-size: 12px;
  font-weight: 400;
}

.footer-links li {
  margin-bottom: 1em;
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact {
  position: relative;
}

.contact-item {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-star-image {
  position: absolute;
  left: 80%;
  bottom: 60%;
}

.contact-item2 {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  position: relative;
}

.contact-paragraph {
  width: 8em;
}

.contact-item2-image {
  position: absolute;
  left: 20%;
  bottom: -30%;
}

.copyright {
  text-align: center;
  margin-top: 3em;
}

@media screen and (min-width: 880px) {
  header {
    width: 100%;
    height: 100vh;
  }

  .heading-title img {
    width: 50%;
    height: auto;
  }

  .nav-bar-logo {
    margin-left: 7em;
  }
  .nav-bar ul {
    display: flex;
    align-items: center;
    gap: 3em;
    list-style: none;
    font-size: 16px;
    transition: color 0.3s;
  }

  .nav-bar ul li:hover {
    color: #d434fe;
  }

  .nav-bar-btn {
    margin-left: 3em;
    margin-right: 7em;
  }

  .nav-bar-menu {
    display: none;
  }
  nav {
    display: none;
  }

  main {
    width: 100%;
  }

  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10em;
    margin: 10em 0;
  }

  .main-text {
    text-align: left;
    margin: 10em 0;
  }

  .main-text p {
    font-size: 1.4rem;
    width: 500px;
  }

  .main-subheading {
    font-size: 32px;
  }

  .introduction {
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    margin: 0;
    padding: 0;
  }

  .introduction-image img + img {
    width: 100%;
  }

  .introduction-image {
    position: relative;
  }

  .rules {
    display: flex;
    flex-direction: row-reverse;
  }

  .Jugding-text {
    text-align: left;
    width: 35%;
    margin-bottom: 10em;
  }

  .FAQS-text {
    text-align: left;
  }

  .FAQS-heading {
    margin-left: 1.5em;
  }

  .partners {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .partners-text {
    text-align: center;
    margin-bottom: 0;
  }

  .partners-image {
    padding: 10em;
    margin: 0 auto 0;
    width: 70%;
  }

  .prizes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .prizes-text {
    margin: 0;
    padding: 0;
  }

  .prizes-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }

  .prizes-image {
    margin: 0;
  }

  /* .prizes-image {
    position: absolute;
    left: 0;
  } */

  .privacy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10em 0 0;
  }

  .privacy-text-header {
    text-align: left;
  }

  .privacy-text-header > p {
    margin-top: 2em;
    width: 60%;
  }
  .privacy-summary {
    width: 500px;
  }

  /* .privacy-image1 {
    width: 200%;
  }

  .privacy-image2 {
    width: 200%;
  } */

  footer {
    padding: 5em 10em 3em;
    width: 100%;
  }
  .footer-block {
    display: flex;
    justify-content: space-between;
    gap: 5em;
    padding-left: 0;
  }
  .footer-paragraph {
    width: 30em;
  }
  .terms {
    margin-top: 6em;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .footer-image {
    top: 10%;
    left: -20%;
  }
}
